<div class="text-center asset-area">
  <div class="digital-assets-image">
    <%= image_tag(main_app.rails_representation_url(digital_asset.small), class: 'img-thumbnail attachment digital_asset_attachment' ,
                  data: asset_details(digital_asset), onerror: "$assetDetails.showFileGlyphicon(this)") %>
    <span class="hidden"><i class="fa fa-file file-icon"></i></span>
  </div>
  <p>
    <%= digital_asset&.name&.truncate(30) %>
  </p>


  <ul class="dropdown-menu">
    <% if can? :manage, digital_asset %>
      <li>
        <%= link_to '', spree.admin_digital_asset_path(digital_asset), method: :delete, class: 'delete_digital_asset_button with-tip text-danger fa fa-trash', data: { confirm: Spree.t(:confirm_delete), original_title: 'Delete' } %>
      </li>
      <li role="separator" class="divider"></li>
      <li>
        <%= link_to '<i class="fa fa-pencil"></i>'.html_safe(), spree.edit_admin_digital_asset_path(digital_asset), class: 'with-tip', data: { original_title: 'Edit' } %>
      </li>
    <% end %>
    <li role="separator" class="divider"></li>
    <li><%= link_to '<i class="fa fa-download"></i>'.html_safe(), main_app.rails_blob_url(digital_asset.attachment, disposition: 'attachment'), target: '_blank', class: 'with-tip', data: { original_title: 'Download' } %></li>
  </ul>
</div>
